<!--
=========================================================
* Paper Dashboard 2 - v2.0.1
=========================================================

* Product Page: https://www.creative-tim.com/product/paper-dashboard-2
* Copyright 2020 Creative Tim (https://www.creative-tim.com)

Coded by www.creative-tim.com

 =========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="static/img/apple-icon.png">
  <!-- <link rel="icon" type="image/png" href="static/img/favicon.png"> -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    Hakuna Moscato
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
  <!-- CSS Files -->
  <link href="static/css/bootstrap.min.css" rel="stylesheet" />
  <link href="static/css/paper-dashboard.css?v=2.0.1" rel="stylesheet" />
  <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
  <script src="https://d3js.org/d3.v6.min.js"></script>
</head>

<body class="">
  <div class="wrapper ">
    <div class="sidebar" data-color="white" data-active-color="danger">
      <div class="logo">
        <a href="{{ url_for('index') }}" class="simple-text logo-normal">
          Hakuna Moscato
          <!-- <div class="logo-image-big">
            <img src="static/img/logo-big.png">
          </div> -->
        </a>
      </div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li>
            <a href="{{ url_for('home') }}">
              <i class="nc-icon nc-world-2"></i>
              <p>Global Wine Score</p>
            </a>
          </li>
          <li>
            <a href="{{ url_for('winemag') }}">
              <i class="nc-icon nc-single-copy-04"></i>
              <p>Wine Magazine</p>
            </a>
          </li>
          <li>
            <a href="{{ url_for('charts') }}">
              <i class="nc-icon nc-chart-bar-32"></i>
              <p>Choose a Country</p>
            </a>
          </li>
          <li>
            <a href="#" data-toggle="collapse" data-target="#demo">
              <i class="nc-icon nc-zoom-split"></i>
              <p>GWS Search</p>
            </a>
            <ul id="demo" class="collapse">
              <li><a href="{{ url_for('search') }}">Search by Year</a></li>
              <li><a href="{{ url_for('search2') }}">Search by Country</a></li>
              <li><a href="{{ url_for('colors') }}">Search by Color</a></li>
            </ul>
          </li>
          <li class="active ">
            <a href="{{ url_for('map') }}">
              <i class="nc-icon nc-pin-3"></i>
              <p>Maps</p>
            </a>
          </li>
          <li>
            <a href="{{ url_for('new_charts') }}">
              <i class="nc-icon nc-bell-55"></i>
              <p>Tableau</p>
            </a>
          </li>
          <li>
            <a href="{{ url_for('team') }}">
              <i class="nc-icon nc-single-02"></i>
              <p>Meet the Team</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <div class="navbar-toggle">
              <button type="button" class="navbar-toggler">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
              </button>
            </div>
            <a class="navbar-brand" href="javascript:;">Maps</a>
          </div>
        </div>
      </nav>
      <!-- End Navbar -->
      <div class="content">
        <div class="row">
          <div class="col-md-12">
            <div class="card ">
              <div class="card-header ">
                <h5 class="card-title">Google Maps</h5>
                <p class="card-category">Heatmap for Wine Origin</p>

              </div>
              <div class="card-body ">
                <center>
                <div id="map" style="width: 800px; height: 480px;"></div>
                </center>
                <div class="card-footer ">
                  <hr>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--   Core JS Files   -->
  <script src="static/js/core/jquery.min.js"></script>
  <!-- <script src="static/js/core/popper.min.js"></script> -->
  <script src="static/js/core/bootstrap.min.js"></script>
  <script src="static/js/plugins/perfect-scrollbar.jquery.min.js"></script>
  <!--  Google Maps Plugin    -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDvDJD4M1FvA2YgS8V3aRL-FWxvljbQ_3s&libraries=visualization"></script>
  <!-- Chart JS -->
  <script src="static/js/plugins/chartjs.min.js"></script>
  <!--  Notifications Plugin    -->
  <script src="static/js/plugins/bootstrap-notify.js"></script>
  <!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="static/js/paper-dashboard.min.js?v=2.0.1" type="text/javascript"></script>
  <script src="https://d3js.org/d3.v6.min.js"></script>
    <script src="static/js/maps.js"></script>
</body>

</html>
